body {
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit;
}

.attribution {
    position: fixed;
    bottom: 10px;
    font-size: 11px;

}
.attribution a {
    color: hsl(228, 45%, 44%);
}

#box1{
    color: white;
    border-radius: 7px;
    background-color: hsl(216, 50%, 16%);
    width: 200px;
    height: 400px;
    margin: auto;
    padding: 15px;
    position: relative;
    top: 200px;
}

.nftimage{
    border-radius: 5%;
    height: 200px;
    width: 200px;
    position: relative;
    top: -1px;
    left: 0px;
}

.text1{
    font-size: 12px;
    color: hsl(215, 51%, 70%);
}

.text2{
    font-size: 12px;
    color: hsl(178, 100%, 50%);
}